
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,600i,700,700i');	
 	
  	.overlay{
  		background:  url("../img/overlay-back.png")no-repeat center;
  		position: absolute;
  		top: 0;
  		left:0;
	    width: 100%;
	    height: 100%;
	    background-position: inherit;
	    background-size: contain;
	    z-index: -1;
	    pointer-events: none;
  	}
  	.overlay2{
  		background:  url("../img/overlay-back2.png")no-repeat center;
  		position: absolute;
  		bottom: 0;
  		left:0;
	    width: 100%;
	    height: 100%;
	    background-position: inherit;
	    background-size: cover;
	    background-size: 100% 100%;
	    z-index: -1;
	    pointer-events: none;
  	}
  	header .row{
  		height: 50px;
  		background-size: cover;
  		border-bottom: 1px solid rgba(250,250,250,0.3);
  	}
  	.buscar{
  		padding-left: 0 !important;
  		padding-right: 0 !important;
  	}
  	.logo{
  		padding-top: 15px;
  	}
  	.logo img{
  		
  	}
  	.lateral-btn{
  		padding-top: 15px;
  	}
  	.lateral-btn button{
  		border: none;
  		width: 22px;
  		color: transparent;
  	}
  	.lateral-btn button:first-child{
  		background: url("../img/icon-alert.png")no-repeat center;
  		background-size: cover;
  		float: left;
  	}
  	.lateral-btn button:last-child{
  		background: url("../img/icon-3.png")no-repeat center;
  		background-size: cover;
  		float: right;
  	}
  	.lateral-btn .alertas{
  		position: relative;
  	}
  		.alertas>span{
	  		width: 18px;
	  		height: 18px;
	  		background: red;
	  		border-radius: 100%;
	  		position: absolute;
	  		bottom: 0;
	  		right: -5px;
	  		color: #fff;
	  		font-weight: light;
	  		font-size: 13px;
	  	}
	.nav-tabs {
	    border-bottom: none !important;
	    margin-top: 10px !important;
	}
	.nav-tabs>li{
		/*width: 50%;*/
   	    text-align: center
	}
	.nav>li>a{
		padding: 10px 0% !important;
		color:rgba(250,250,250,0.5);
		font-size: 13px;
	}
	.nav-tabs>li.active>a{
		background: none !important;
	    color: #fff !important;
	    border: none !important;
	}
	.nav-tabs>li>a:hover{
		border:none !important;
	}
	.nav>li>a:focus, .nav>li>a:hover{
		background-color: transparent !important;
	}
	.bloque1{
		border-bottom: 5px solid #eb4723;
		position: absolute;
	    width: 100%;
	    margin: 0;
	    padding: 0;
	    left: 0;
	    top: 0;
	    z-index: -100;
	}
	.bloque1 h3{
		font-family: 'Playfair Display', serif;
		font-weight: 900;
		color:#fff;
		margin-top: 0 !important;
	}
	.bloque1 h3>img{
		width: 24%;
		margin-bottom: 10px;
	}
	.bloque1 p{
		color:rgba(250,250,250,0.7);
		font-size: 15px;
	}
	.descript{
		position: absolute;
	    bottom: 0;
	    padding: 0 15px;
	    background:  url("../img/overlay-back2.png")no-repeat center;
	    background-size: cover;
	    background-size: 100% 100%;
	}
	.img-referencia{
   		padding-top: 50px;
	}

	.bloque2{
    		margin-top: 115%;
    		padding-bottom:50px;
	}
	.bloque2 h1{
		font-family: 'Playfair Display', serif;
	}
	.bloque2 h1>b{
		font-size: 60px;
	}
	.bloque2 h1>b:last-child{
		color:#eb4723;
		font-size: 60px;
	}
	.bloque2 p{
		font-size: 14px;
		border-bottom: 1px solid rgba(0,0,0,0.2);
		padding-bottom: 15px;
		margin-top: 25px;
	}
	.bloque3{
		background: #eb4723;
		padding: 12% 0px;
	}
	.pleca{
		    position: absolute;
		    top: -22px;
		    width: 160px;
		    height: auto;
		    text-transform: uppercase;
		    background: #000;
		    color: #fff;
		    padding: 3% 5px;
		    font-size: 12px;
		    text-align: center;
		    border-radius: 5px;
		    font-family: 'Open Sans', sans-serif;
	}

	.pleca>b{
		position: absolute;
	    top: -25px;
	    color: #000;
	    width: 100%;
	    left: 0;
	    text-align: center;
	}
	.pleca:after{
		content: url("../img/pleca.png");
		width: 10px;
		height: 10px;
		position: absolute;
		bottom: -3px;
    	left: 10%;

	}
	.pleca2{
			position: absolute;
		    top: -22px;
		    width: 160px;
		    height: auto;
		    text-transform: uppercase;
		    background: #ff4921;
		    color: #fff;
		    padding: 3% 5px;
		    font-size: 12px;
		    text-align: center;
		    border-radius: 5px;
		    font-family: 'Open Sans', sans-serif;
	}
	.pleca2>b{
		position: absolute;
	    top: -25px;
	    color: #000;
	    width: 100%;
	    left: 0;
	    text-align: center;
	}
	.pleca2:after{
		content: url("../img/pleca2.png");
		width: 10px;
		height: 10px;
		position: absolute;
		bottom: -3px;
    	left: 10%;
	}
	.pleca3{
			position: absolute;
		    top: -22px;
		    width: 160px;
		    height: auto;
		    text-transform: uppercase;
		    background: #4c4d4d;
		    color: #fff;
		    padding: 3% 5px;
		    font-size: 12px;
		    text-align: center;
		    border-radius: 5px;
		    font-family: 'Open Sans', sans-serif;
	}
	.pleca3>b{
		position: absolute;
	    top: -25px;
	    color: #000;
	    width: 100%;
	    left: 0;
	    text-align: center;
	}
	/*.pleca3:after{
		content: url("../img/pleca2.png");
		width: 10px;
		height: 10px;
		position: absolute;
		bottom: -3px;
    	left: 10%;
	}*/

	.bloque3 h1{
		font-family: 'Playfair Display', serif;
		color:#fff;

	}
	.bloque3 p{
		color:#fff;
	}

	.bloque-p{
		padding-top: 23px;
		padding-bottom: 45px;
	}
	.bloque-p img{
		width: 12%;
		float: left;
	}
	.line{
		width: 85%;
	    height: 1px;
	    background: rgba(0,0,0,0.2);
	    float: right;
	    margin-top: 12px
	}
	.bloque-p p{
		font-family: 'Playfair Display', serif;
		font-size: 16px;
    	font-weight: 600;
    	margin: 8% 0 3% 0;
	}
	.bloque-p span{
		font-size: 13px;
		color: rgba(0,0,0,0.5);
	}
	.bloque4{
		margin-top: 12%;
	}
	.bloque4 .img-bloque{
		width: 100%;
		height: auto;
	}
	.bloque4  h1{
		font-family: 'Playfair Display', serif;
		font-weight: 700;
		font-size: 22px;
	}
	.bloque4 p{
		font-size: 13px;
    	color: rgba(0,0,0,0.5);
	}
	.bloque-graficas{
		margin-top: 22%;
		padding-top: 5%;
	}
	.bloque-graficas .nav-tabs>li{
		width: 25%;
	}
	.bloque-graficas .nav>li>a{
		color:rgba(0,0,0,0.5);
		font-size: 10px;
	}
	.bloque-graficas .nav-tabs>li.active>a{
		color:#000 !important;
		position: relative;
	}
	.bloque-graficas .nav-tabs>li.active>a:after{
		content: "";
		position: absolute;
		bottom: 0px;
		left: 0;
		width: 100%;
		height: 14px;
		background:url("../img/pleca-graficas.png")no-repeat center;
		background-size: 18px;
	}
	.btn-mas{
		color:#000;
		text-transform: uppercase;
		font-size: 12px;
		margin: 8% 0;
		font-weight: 600;
	}
	.btn-mas:hover{
		text-decoration: none;
	}
	.btn-mas img{
		width: 27px;
	}
	.bloque-videos{
		margin-top: 18%;
		padding-top: 0%;
	}
	.bloque-videos h1 {
	    font-family: 'Playfair Display', serif;
	    font-weight: 700;
	    font-size: 22px;
	}
	.bloque-videos p {
	    font-size: 13px;
	    color: rgba(0,0,0,0.5);
	}
	.bloque-top{
		margin-top: 105%;
	}
	.bloque-news{
		margin-top: 1%;
		padding-top: 0%;
		padding-bottom: 15%;
	}
	.bloque-news span{
		border-bottom:1px solid rgba(0,0,0,0.3);
		margin-bottom: 20px;
	}
	.bloque-news span img{
		width: 12%;
		padding: 0px 0 17px 0;
	}
	.bloque-news h1 {
	    font-family: 'Playfair Display', serif;
	    font-weight: 200;
	}
	.bloque-news p {
	    font-size: 14px;
	    color: rgba(0,0,0,0.7);
	    padding: 0 5% 5% 5%;
	}
	.bloque-news input{
		width: 65%;
		background: #d9d9d9;
		border:none;
		border-radius: 0;
		margin: 2% 0;
	}
	.bloque-news button{
		width: 35%;
		color: #fff;
		background: #eb4723;
		border:none;
		border-radius: 0;
		padding: 4% 0;
		font-size: 13px;
	}
	.bloque-footer{
		background: #000;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.bloque-footer a.us{
		color:#b6b6b6;
		font-size: 9px;
		text-align: center;
		padding: 0;
		text-transform: uppercase;
	}
	.bloque-footer a.us:hover{
		text-decoration: none;
		color:#fff;
	}
	.bloque-footer a.redes{
		margin-top:15px;
	}
	.bloque-footer a.redes img{
		width: 25px;
	}
	.bloque-footer a.politico{
		color: #414141;
		text-transform: uppercase;
		margin:10% 0;
	}
	.pub{
		background: #000;
		padding: 8% 0;
	}
	.pub h1{
		font-family: 'Playfair Display', serif;
		color:#fff;
		font-size: 50px;
		margin:0;
	}
	.pub b{
		display: block;
		font-size: 85px;
    	line-height: 45px;
	}
	.pub p{
		color:#fff;
		margin-top:15%;
		font-weight: light;
		text-align: center;
	}
	.pub a{
		width: 50%;
		display: block;
		margin:0 auto;
		color:#fff;
		border:1px solid #fff;
		text-align:center;
		text-transform: uppercase;
		padding:3%;
		margin-top: 8%;
	}
	.politico0{

	}
	.politico0 .bloque-news{
		margin-top: 115%;
	}

	.politico0 .bloque-recientes{
		display: block; 
		float: left;
		position: relative;
		width: 100%;
		padding-top: 10%;
	}
	.politico0 .bloque-graficas{
		padding-bottom: 15%;
		margin-top: 15%;
	}
	.politico0 .bloque-recientes h1{
		text-transform: uppercase;
		font-size: 20px;
		margin: 20px 0;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		color: rgba(0,0,0,0.5);
	}
	.politico0 .graficas2018 .nav-tabs>li{
		width: 33.33%;
	}
	hr { 
	    margin-top: 10px !important;
	    margin-bottom: 10px !important;
	    border: 0;
	    border-top: 1px solid rgba(0,0,0,0.2) !important;
	    width: 13%;
	    float: left;
	    margin-left: 5%;
	    margin-right: 5%;
	} 
	hr:nth-child(even){
		float: right;
	}
	.bloque-cober-especial{
		display: block; 
		float: left;
		position: relative;
		width: 100%;
		padding-top: 10%;
	}
	.bloque-cober-especial h1{
		text-transform: uppercase;
		font-size: 20px;
		margin: 20px 0;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		color: rgba(0,0,0,0.5);
	}
	.bloque-cont-cober{
		margin-top: 12%;
		background: #000;
	}
	.bloque-cont-cober .img-bloque{
		width: 100%;
		height: auto;
	}
	.bloque-cont-cober  h2{
		font-family: 'Playfair Display', serif;
		font-weight: 700;
		font-size: 22px;
		color: #fff;
	}
	.bloque-cont-cober  h3{
		font-family: 'Playfair Display', serif;
		font-weight: 700;
		font-size: 22px;
		color: rgba(250,250,250,0.5);
		padding-bottom:20%;
	}
	.bloque-cont-cober p{
		font-size: 13px;
    	color: rgba(0,0,0,0.5);
	}

	.bloque-pd{
		padding-top: 23px;
		padding-bottom: 0px;
	}
	.bloque-pd span img{
		width: 13px;
	}
	.bloque-pd .text{
		font-family: 'Playfair Display', serif;
		color:rgba(250,250,250,0.5);
		margin:25px 0 45px 0;
		font-size: 17px;
	}
	.nota-cober .img-nota{
		height:65px;
		overflow: hidden;	
	}
	.nota-cober{
		margin:30px 0 40px 0;
	}
	.nota-cober .img-nota img{
		width: 100%;
	}
	.nota-cober .nota{
		font-family: 'Playfair Display', serif;
		color: rgba(250,250,250,0.5);
		font-size: 16px;
	}
	.nota-cober .nota-black{
		font-family: 'Playfair Display', serif;
		color: #000;
		font-size: 16px;
	}
	.bloque-falta{
		background: gold;
	}
	.bloque-leaks{
		background: #eb4723;
	    padding: 15% 5%;
	    color: #fff;
	    font-family: 'Playfair Display', serif;
	    font-weight: 700;
	    font-size: 29px;
	}
	.bloque-leaks p{
		font-family: arial;
		color: rgba(250,250,250,0.5);
		font-weight: 200;
		margin-top: 5%;
	}
	.bloque-plumas{
		margin-top: 15%;
	}
	.bloque-plumas .img-p{

	}
	.bloque-plumas .img-p img{
		width: 125px;
		height: 125px;
		border-radius: 100%;
	    border: 2px solid #ff4921;
	    overflow: hidden;
	}
	.bloque-plumas .text{
		font-family: 'Playfair Display', serif;
	    font-weight: 700;
	    font-size: 22px;
	    line-height: 20px;
    	margin-top: 8%;
	}
	.bloque-plumas .text p{
		font-size: 13px;
   	 	color: rgba(0,0,0,0.5);
   	 	font-family: arial;
   	 	font-weight: 200;
   	 	margin-top: 5%;
	}
	.bloque-descarga{
		margin-top: 10%;
		padding-top: 15%;
		border-top:1px solid rgba(0,0,0,0.1);
	}
	.bloque-descarga h2{
		font-family: 'Playfair Display', serif;
	    font-weight: 700;
	    font-size: 22px;
	}
	.bloque-descarga p{
		font-size: 13px;
    	color: rgba(0,0,0,0.5)
	}
	.bloque-descarga .descarga{
		margin:6% 0 10% 0;
	}




/*radio*/
.funkyradio label {
    /*min-width: 400px;*/
    width: 50%;
    float: left;
    font-weight: normal;
}
/*.funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty {
    display: none;
}
.funkyradio input[type="radio"]:empty ~ label, .funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.funkyradio input[type="radio"]:empty ~ label:before, .funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content:'';
    width: 2.5em;
    background: #D1D3D4;
     border-radius: 100%;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content:'\002B24';
    text-indent: .9em;
    color: #C2C2C2;
     border-radius: 100%;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}
.funkyradio input[type="radio"]:checked ~ label:before, .funkyradio input[type="checkbox"]:checked ~ label:before {
    content: '\002B24';
    text-indent: 0.6em;
    color: #333;
    background-color: #ccc;
    line-height: 2.2em;
}
.funkyradio input[type="radio"]:checked ~ label, .funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
}
.funkyradio input[type="radio"]:focus ~ label:before, .funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}*/
.funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty {
    display: none;
}
.funkyradio input[type="radio"]:empty ~ label, .funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.funkyradio input[type="radio"]:empty ~ label:before, .funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content:'';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 100%;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
    border-radius: 100%;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}
.funkyradio input[type="radio"]:checked ~ label:before, .funkyradio input[type="checkbox"]:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
    border-radius: 100%;
}
.funkyradio input[type="radio"]:checked ~ label, .funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
}
.funkyradio input[type="radio"]:focus ~ label:before, .funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}
.funkyradio-news input[type="radio"]:checked ~ label:before, .funkyradio-news input[type="checkbox"]:checked ~ label:before {
    color: #eb4723 !important;
    background-color: #fff;
    border-radius: 100%;
    border:1px solid #b4b4b4;
}
/*search*/
  	#custom-search-input{
    padding: 0px;
    border: none;
    background-color: transparent;
	}

	#custom-search-input input{
	    border: 0;
	    box-shadow: none;
	    background-color: transparent;
	    padding: 0 0 0 5px;
	}

	#custom-search-input button{
	    margin: 2px 0 0 0;
	    background: none;
	    box-shadow: none;
	    border: 0;
	    color: rgba(250,250,250,0.5);
	    padding: 0 0px 0 10px;
	    font-weight: 100;
	}

	#custom-search-input button:hover{
	    border: 0;
	    box-shadow: none;
	    border-left: solid 1px #ccc;
	}

	#custom-search-input .glyphicon-search{
	    font-size: 23px;
	}