@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,600i,700,700i');	
 /*font-family: 'Open Sans', sans-serif;
 font-family: 'Playfair Display', serif;
 */
body{
	background: #f4f5f5 !important;
}
/*@media (min-width: 1200px){
	.container {
	    width: 100% !important;
	}
}*/
/*margenes*/
.marginTop-60{
    margin-top: 60px;
}
.marginTop-50{
    margin-top: 50px;
}
.marginTop-40{
	margin-top: 40px !important;
}
.marginTop-30{
	margin-top: 30px !important;
}
.marginTop-20{
	margin-top: 20px;
}
.marginTop-15{
	margin-top: 15px;
}
.paddingTop-15{
    padding-top: 15px;
}
.marginTop-10{
	margin-top: 10px;
}
.paddingTop-10{
    padding-top: 10%;
}
.paddingTop-20{
    padding-top: 20%;
}
.paddingTop-25{
    padding-top: 25%;
}
.paddingTop-30{
    padding-top: 30%;
}
.paddingBot-10{
    padding-bottom: 10%;
}
.marginTop-5{
    margin-top: 5px;
}
.paddingTop-5{
    padding-top: 5%;
}
.paddingBot-5{
    padding-bottom: 5%;
}
.paddingBot-5{
    padding-bottom: 5%;
}
.paddingBot-15{
    padding-bottom: 15%;
}
.paddingBot-20{
    padding-bottom: 20%;
}
.paddingBot-30{
    padding-bottom: 30%;
}
.no-padding{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.no-paddingTB{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.top40{
    top:40px !important;
}
.marginTop-175{
    margin-top: -175px !important;
}
.bg-black{
	background: #000 !important;
}
.bg-white{
    background: #fff !important;
}
.container-fluid{
	padding-right: 0 !important;
	padding-left: 0 !important;
}
.cont-block{
	width: 100%;
	max-width: 1990px;
	display: block;
	height: auto;
	float: left;
	position: relative;
	border-bottom: 2px solid #e64a19;
	background: url("../img/overlay-back2.png")no-repeat center;
    background-size: 100% 30%;
    background-position: center bottom;
}
.cont-block img.back-cont{
	position: relative;
	top:0;
	z-index: -1000;
	width: 100%;
	height: auto;
}
.overlay-top{
	background: url("../img/overlay-back.png")no-repeat center;
    background-size: 105% 100%;
    background-position: center top;
    position: absolute !important;
    top: 0;
    width: 100%;
    height: 80px;
}
.descript {
   /**/ width: 45%;
    position: absolute;
    bottom: 0;
    padding: 0 15px;
    
}
.descript h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: #fff;
    margin-top: 0 !important;
    padding: 65px 0 0 0;
}
.descript p {
    color: rgba(250,250,250,0.7);
    font-size: 15px;
}
.descript h1>img {
    width: auto;
    height: auto;
    margin-bottom: 10px;
}
.navbar{
	/*background: url("../img/overlay-back.png")no-repeat center;
    background-size: 105% 100%;
    background-position: center top;*/
    position: absolute !important;
    top: 0;
    z-index: 1000;
}
.navbar-nav>li{
	padding-top: 10px !important;
}
.navbar-nav>li>a{
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: rgba(250,250,250,0.8);
}
.navbar-nav>li>a:hover{
    background: transparent !important;
    color:#fff;
}
.activem{
    color:#fff !important;
}
.activem b{
    color: #ff4921;
}
.cont-bottom{
	margin-top: -23.5%;
}
.polileaks {
    background: #ff4921;
    /*margin-top: -175px;*/
}
.polileaks h3 {
    font-family: 'Playfair Display', serif;
    color: #fff;
    margin: 30px 0;
}
.polileaks p {
    color: #fff;
}
.big{
    background: #ff4921 url("../img/pleca3.png")no-repeat;
    background-position: 15px top;
    background-size: auto;
}
.big h3{
    font-size: 30px;
    font-weight: 600;
}
.big .title{
    color: rgba(250,250,250,0.8);
}
.big .pleca{
    background: #ff4921;
    text-align: left;
    color: rgba(250,250,250,0.8);
}
.big .pleca:after{
    display: none;
}
.big2 h3{
    font-size: 30px;
    font-weight: 600;
    color: #000;
}
.big2 .title{
    color: rgba(0,0,0,0.8);
}
.big2 .pleca{
    background: #ff4921;
    text-align: center;
    color: rgba(250,250,250,0.8);
}
.big2 .pleca:after {
    content: url(../img/pleca2.png);
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0px;
    left: 10%;
}
.big2 .pleca>b {
    position: absolute;
    top: -25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: rgba(0,0,0,0.5);
    width: 100%;
    left: 0;
    text-align: center;
}
.share{
	width: 100%;
	display: block;
	/*background: #000;*/
	padding: 5px 15px;
}
.share a{
	/*color: #4d4e52;*/
    color: rgba(250,250,250,0.5);
}
.share a:hover{
	color:#eb4723;
}

.pleca {
    position: relative;
    width: 160px;
    height: auto;
    text-transform: uppercase;
    background: #000;
    color: #fff;
    padding: 9px 5px;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin-top: 15px;
}
.pleca:after {
    content: url(../img/pleca.png);
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0px;
    left: 10%;
}
.banner{
	background: gray;
	height: 70px;
    margin-top: 25px;
}

.cobertura-especial{
	padding-bottom: 15px;
}
.cobertura-cont{
	position: relative;
	
}
.cobertura-cont figcaption{
	font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: #fff;
    font-size: 30px;
    margin:15px 0;
}
.cobertura-cont span{
	color: rgba(250,250,250,0.7);
    font-size: 15px;
}
.pleca-n{
	position: absolute;
    top: -15px;
    left: 40px;
    min-width: 160px;
    height: auto;
    text-transform: uppercase;
    background: #ff4921;
    color: #fff;
    padding: 9px 5px;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}
.pleca-n>b {
    position: absolute;
    top: -25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: rgba(0,0,0,0.5);
    width: 100%;
    left: 0;
    text-align: center;
}
.pleca-n:after {
    content: url(../img/pleca2.png);
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0px;
    left: 10%;
}
aside figcaption{
	font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: rgba(250,250,250,0.6);
    font-size: 20px;
    margin:15px 0;
}
aside span{
	color: rgba(250,250,250,0.7);
    font-size: 12px;
}
.bloque-p {
    padding-top: 23px;
    /*padding-bottom: 45px;*/
}
.bloque-p span {
    font-size: 13px;
    color: rgba(0,0,0,0.5);
    margin-bottom: 10px;
}
.bloque-p img {
    width: 12%;
    float: left;
}
.line {
    width: 85%;
    height: 1px;
    background: rgba(250,250,250,0.2);
    float: right;
    margin-top: 12px;
}
.bloque-p p {
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    font-weight: 600;
    margin: 2% 0 3% 0;
    color: rgba(250,250,250,0.8);
}
.bloque-p span {
    font-size: 13px;
    color: rgba(250,250,250,0.5);
}
section{
	padding-right: 0 !important;
	padding-left: 0 !important;
}
section figcaption{
	font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: rgba(250,250,250,0.8);
    font-size: 15px;
    padding:15px;
}
section div{
	height: 312px;
}
section .first{
	font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: #fff;
    font-size: 30px;
    padding: 72px 60px;
    height: 312px;
}
h2.subtitle {
    text-transform: uppercase;
    font-size: 20px;
    margin: 40px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: rgba(0,0,0,0.5);
}
hr {
    margin-top: 20spx !important;
    margin-bottom: 10px !important;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.2) !important;
    width: 30%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}
hr:nth-child(even) {
    float: right !important;
}
.bloque-graficas {
    margin-top: 0px;
    padding-top: 5%;
}
.bloque-graficas .title{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 15px;
    padding: 15px;
}
.pleca2 {
    position: absolute;
    top: 40px;
    left: 40px;
    min-width: 160px;
    height: auto;
    text-transform: uppercase;
    background: #ff4921;
    color: #fff;
    padding: 9px 5px;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}
.pleca2>b {
    position: absolute;
    top: -20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: rgba(0,0,0,0.5);
    width: 100%;
    left: 0;
    text-align: center;
}
.pleca2:after {
    content: url(../img/pleca2.png);
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: -3px;
    left: 10%;
}
.electoral{
    width: 100%;
    left: 0;
    border-radius: 0;
    text-align: left;
    padding-left: 5%;
}
.electoral:after{
    left: 5%;
}
.nav-tabs>li.active>a{
    background: url("../img/pleca-graficas.png")no-repeat !important;
    background-position: center bottom !important;
    background-size: 20px !important;
    border:none !important;
    font-weight: 600 !important;
}
.nav-tabs{
    border:none !important;
}
.nav-tabs>li>a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: rgba(0,0,0,0.5);
}
.bloque-graficas .share{
    display: block;
    background: #fff;
    padding: 5px 15px;
}
.bloque-graficas .share a{
    color: #4d4e52;
}
.bloque-graficas .share a:hover{
    color:#eb4723;
}
.btn-mas {
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    margin: 8% 0;
    font-weight: 600;
}
.btn-mas img {
    width: 27px;
}
.bloque-news {
    margin-top: 0%;
    padding-top: 0%;
    /* padding-bottom: 15%; */
    display: block;
    float: left;
}
.bloque-news .bg-white{
    padding-top:5%;
    padding-bottom: 5%;
}
.bloque-news span {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 20px;
}
.bloque-news span img {
    width: 12%;
    padding: 0px 0 17px 0;
}
.bloque-news h4 {
    font-family: 'Playfair Display', serif;
    font-weight: 200;
    margin:0;
    padding: 0;
    font-size: 30px;
}
.bloque-news p {
    font-size: 14px;
    color: rgba(0,0,0,0.7);
    padding: 0 5% 5% 5%;
}
.bloque-news input {
    width: 65%;
    background: #d9d9d9;
    border: none;
    border-radius: 0;
    margin: 2% 0;
}
.bloque-news button {
    width: 35%;
    color: #fff;
    background: #eb4723;
    border: none;
    border-radius: 0;
    padding: 4% 0;
    font-size: 13px;
}
.bloque-descarga {
    /*margin-top: 30px;*/
    padding-top: 0%;
    display: block;
    float: left;
}
.bloque-descarga h4 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 30px;
}
.bloque-descarga p {
    font-size: 13px;
    color: rgba(0,0,0,0.5);
}
.bloque-descarga .descarga {
    margin: 6% 0 10% 0;
}
.img-center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.bloque-falta {
    background: #000;
    color: #fff;
    font-family: 'Playfair Display', serif;
    padding: 15% 0;
}
.bloque-falta h4 {
    font-size: 32px;
    padding: 0;
    margin: 0;
}
.bloque-falta b {
    font-size: 90px;
}
.bloque-falta p {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    width: 70%;
    margin: 0 auto;
    display: block;
    padding: 10% 0;
}
.section2 figure{
    padding-top: 15%;
}
.section2 figcaption{
    color:#000;
}
.section2 figure p{
    padding: 0px 0px 0px 15px;
    font-size: 12px;
    color: rgba(0,0,0,0.5);
    margin:0;
}
.section2 .bloque-p p{
    color: rgba(0,0,0,0.8);
}
.section2 .bloque-p span{
    color: rgba(0,0,0,0.5);
    font-size: 12px;
}
.section2 .line{
    background: rgba(0,0,0,0.3);
    height: 1px;
}
.section2 div{
    height: auto;
    margin-bottom: 10px;
}

.plecaB {
    position: absolute;
    top: 40px;
    left: 40px;
    min-width: 160px;
    height: auto;
    text-transform: uppercase;
    background: #000;
    color: #fff;
    padding: 9px 5px;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}
.plecaB>b {
    position: absolute;
    top: -20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: rgba(0,0,0,0.5);
    width: 100%;
    left: 0;
    text-align: center;
}
.plecaB:after {
    content: url(../img/pleca.png);
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: -3px;
    left: 10%;
}
.bloque-NewsDown{
    padding-top: 5%;
    margin-top: 5%;
    border-top:1px solid rgba(0,0,0,0.1);
}
.bloque-NewsDown .bloque-descarga .bg-white{
    padding-top: 16%;
    padding-bottom: 9%;
}
.bloque-minuta{}
.bloque-minuta figcaption{
    color: #000;
    margin:15px 15px;
}
.bloque-minuta figure span {
    color: rgba(0,0,0,0.4);
     margin:15px 15px
}
.bloque-minuta .pleca-n{
    color:#fff;
}
.list-minuta p{
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    font-weight: 600;
        margin: 10% 0 0 0;
}
.list-minuta .line{
    background: rgba(0,0,0,0.3);
}
.list-minuta .title{
    font-family: 'Playfair Display', serif;
    font-size: 20px !important;
    font-weight: 600;
    margin: 5% 0;
    padding: 5% 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.bloque-plumas{

}
.bloque-plumas .cont{
}
.bloque-plumas .cont-img span{
    border-radius: 100%;
    width: 105px;
    height: 105px;
    display: inline-block;
    background: red;
    overflow: hidden;
    border:2px solid #ff4921;
}
.bloque-plumas .cont .cont-img span img{
    width: auto;
}
.bloque-plumas .cont .name h4{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 20px;
    color:rgba(0,0,0,0.5);
}
.bloque-plumas .cont .name span {
    color: rgba(0,0,0,0.4);
    margin: 15px 15px;
    font-size: 11px;
    margin-right: 0;
    margin-left: 0;
    display: block;
    text-align: left;
}
footer{
    background: url("../img/pleca-f.png")no-repeat;
    background-position: left top;
    background-size: auto;
}
footer .btn-link,footer a, footer p{
    color: #4d4d4d !important;
    text-decoration: none !important;
}
footer .btn-link:hover,footer a:hover{
    color: #ff4921 !important;
}
.cont-polileaks .bloque-p{
    height: auto;
    float: left;
}
.cont-polileaks .bloque-p p{
    color: #000;
    margin:0;
}
.cont-polileaks .bloque-p span{
    color: rgba(0,0,0,0.5);
    margin-bottom: 2%;
}
.bloque-info{
    padding-left: 15px;
    padding-right: 15px;
}
.bloque-info p{
    margin:0;
}
.bloque-info h4{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

button.play{
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 10;
    width: 82px;
    height: 114px;
    background:transparent;
}
.sub-menu{
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    padding-top: 80px;
    padding-bottom: 30px;
    background: rgba(0,0,0,0.7);
}

.sub-menu figure{
    font-family: 'Playfair Display', serif;
    font-weight: 200;
    color: rgba(250,250,250,0.5);
    padding: 0 5px;
    font-size: 13px;
}
.sub-menu figure figcaption{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
    display: block;
    margin: 0 auto 10px auto;
    border: 1px solid transparent;
}
.sub-menu figure figcaption:hover{
    border: 1px solid #ff4921;
}
.sub-menu figure figcaption img{
    width: auto;
    margin-left: -15PX;
}






/*radio*/
.funkyradio label {
    /*min-width: 400px;*/
    width: 50%;
    float: left;
    font-weight: normal;
}
.funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty {
    display: none;
}
.funkyradio input[type="radio"]:empty ~ label, .funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.funkyradio input[type="radio"]:empty ~ label:before, .funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content:'';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 100%;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
    border-radius: 100%;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}
.funkyradio input[type="radio"]:checked ~ label:before, .funkyradio input[type="checkbox"]:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
    border-radius: 100%;
}
.funkyradio input[type="radio"]:checked ~ label, .funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
}
.funkyradio input[type="radio"]:focus ~ label:before, .funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}
.funkyradio-news input[type="radio"]:checked ~ label:before, .funkyradio-news input[type="checkbox"]:checked ~ label:before {
    color: #eb4723 !important;
    background-color: #fff;
    border-radius: 100%;
    border:1px solid #b4b4b4;
}
/*search*/
.buscar{
    background: rgba(250,250,250,0.15);
    margin-top: 20px;
    height: 30px;
    display: block;
}
.buscar .input-group-btn{
    vertical-align: top;

}
    #custom-search-input{
    padding: 0px;
    border: none;
    background-color: transparent;
    }

    #custom-search-input input{
        border: 0;
        box-shadow: none;
        background-color: transparent;
        padding: 0 0 0 5px;
        height: 30px;
        color: rgba(250,250,250,0.8);
        font-size: 13px;
        font-weight:200;
    }

    #custom-search-input button{
        margin: 2px 0 0 0;
        background: none;
        box-shadow: none;
        border: 0;
        color: rgba(250,250,250,0.5);
        padding: 0 0px 0 10px;
        font-weight: 100;
    }

    #custom-search-input button:hover{
        border: 0;
        box-shadow: none;
        border-left: solid 1px #ccc;
    }

    #custom-search-input .glyphicon-search{
        font-size: 23px;
    }


    @media only screen and (max-width: 1024px) {
        .navbar{
            left: 0;
        }
        .navbar-header{
            width: 16% !important;
            padding-right: 0 !important;
        }
        .navbar-nav>li>a{

        }
        .sub-menu{
            padding-top: 65px;
            z-index: 1;
        }
    }
    @media only screen and (max-width: 768px){
        .sub-menu{
            padding-top: 100px;
            z-index: 1;
                background: rgba(0,0,0,0.8);
        }
        .sub-menu .container div{
            width: 33.33% !important;
            float: left;
        }
        .nav{
            background: rgba(0,0,0,0.5);
            width: 60%;
            height: 0px;
            overflow: hidden;
            transition: height 1s;
            -webkit-transition: height 1s;
            float: right !important;
            margin-top: 40px !important;
        }
        .aparece{
            
            height: auto;
        }
        .navbar-nav>li{
            width: 100%;
            float: right !important;
            display: block;
            text-align:center;
        }
        
        .navbar-nav:after{
            content: "" !important;
            font-style: 15px;
            position: absolute;
            top: 5px;
            right: 0;
            width: 10%;
            height: 30px;
            background: rgba(250,250,250,0.3) url("../img/menu.png")no-repeat;
            background-size: contain;
            background-position: center;
            z-index: 1000;
        }
        .buscar{
            position: absolute !important;
            top: 0;
            right: 22%;
            width: 50% !important;
            margin-top: 5px;
        }
    }


/*pmx octubre*/
.pmx-bloque{
    background: #2e2e2e;
}
.pmx-bloque>.bloque-minuta{
    margin-top: 8%;
}
.pmx-bloque>.section2 figure{
    padding-top: 0%;
}
.pmx-bloque>.section2 figure>.pleca2{
    top: -20px;
}
.pmx-centralelectoral .cont-ce{
    background: #e9e9e9;
}
.pmx-centralelectoral img{
    width: 100%;
    display: block;
    margin:0 auto;
}
.pmx-centralelectoral p{
    color: #000;
    font-size: 36px;
    font-weight: lighter;
}
.pmx-centralelectoral p b{
    color: #ff4921;
    font-weight: lighter;
}
.pmx-centralelectoral h2{
    color:#ff4921;
    font-size: 15px;
    margin:5px 0 10px 0;
}
.pmx-centralelectoral .btn-central{
    background: #ff4921 !important;
    margin-top: 40px;
    color: #fff;
    height: 50px;
    border-radius: 0;
    border: 2px solid #ffa997;
}
.pmx-diarioscamp{
    
}
.pmx-diarioscamp h2{
    color: #fff;
    font-size: 36px;
    text-align: center;
    font-weight: lighter;
    margin-top: 60px;
    margin-bottom: 50px;
}
hr.style1{
    border-top: 2px solid #ff4921 !important;
    width: 25%;
}
.pmx-boxcamp{}
.pmx-tendencias{
    border-bottom:4px solid #ff4921;
    padding-bottom: 3%;
}
.pmx-tendencias h2{
    color: #fff;
    font-size: 36px;
    text-align: center;
    font-weight: lighter;
    margin-top: 60px;
    margin-bottom: 50px;
}
.pmx-tendencias h2>hr.style1{
    width: 13% !important;
}
.pmx-banner{
    background: #ff4921;
}